h1 {
   font-family: "Arial";
}

.main-image{
    border: 4px black solid;
    border-radius: 50%;
}

h1 {
    background-color: #e2e2e2;
    padding: 5px;
}

.section-title{
    text-transform:upppercase;
}